<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136060758739-nhu4snhk0ogdsfikpvfd19gaivhvrfs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136060758739-nhu4snhk0ogdsfikpvfd19gaivhvrfs1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136060758739-pa50lel9bt9ncpuds2t23493j3h93ko3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQFh907FzyeVvqoBuxk5izn9Zmt30tsk</string>
	<key>GCM_SENDER_ID</key>
	<string>136060758739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>urfusoftware.CloudCards</string>
	<key>PROJECT_ID</key>
	<string>alfa-bank-qr</string>
	<key>STORAGE_BUCKET</key>
	<string>alfa-bank-qr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136060758739:ios:0ce5f36f86275393b04226</string>
	<key>DATABASE_URL</key>
	<string>https://alfa-bank-qr.firebaseio.com</string>
</dict>
</plist>